*{
    margin: 0;
    padding: 0;
}
#con{
    /* border: 1px solid red; */
    height: 790px;
    width: 1550px;
    display: flex;
    background-color: #fbeeca;
}
#con>#box_1{
    /* border: 1px solid blue; */
    height: 400px;
    width: 1050px;
    margin: 200px;
    margin-left: 250px;
}
#con>div:nth-child(2){
    /* border: 1px solid blue; */
    height: 520px;
    width: 780px;
    margin: 100px;
    margin-right: 200px;
    
}
#con #box_1 h1{
    color: #692340;
    margin-top: 1.875rem;
    font-size: 3.125rem;
    letter-spacing: -.03125rem;
    font-family: Means Web,Georgia,Times,Times New Roman,serif;
    font-weight: 300;
    line-height: 1;
}
#con #box_1 p{
    font-weight: 100;
    color: #692340;
    margin-top: 1.875rem;
    font-size: 12pxpx;
    letter-spacing: 0;
    font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
    line-height: 1.4;
}
#image_1{
    height: 520px;
    width: 490px;
}
#para h2{
    text-align: center;
    margin-top:150px;
    font-weight: 300;
    line-height: 1;
    color: #692340;
    font-family: Means Web,Georgia,Times,Times New Roman,serif;
    font-size: 3.125rem;
    letter-spacing: -.03125rem;
    
}
#para > p{
    text-align: center;
    color: #692340;
    font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5;
    margin-top: 30px;

}
#marketing{
    /* border: 1px solid red; */
    height: 800px;
    width: auto;
    margin-top: 140px;
}
#marketing>div:nth-child(1){
    /* border: 1px solid blue; */
    height: 300px;
    width: 500px;
    margin-top: 100px;
    margin-left: 170px;
}
#marketing>div:nth-child(1)>h2{
    color: #692340;
    font-family: Means Web,Georgia,Times,Times New Roman,serif;
    font-weight: 300;
    line-height: 1.1;
    font-size: 30px;
    margin-top: 20px;
}
#marketing>div:nth-child(1)>img{
    height: 300px;
    width: 500px;
}
#marketing>div:nth-child(1)>p{
    color: #692340;
    font-family: Means Web,Georgia,Times,Times New Roman,serif;
    font-size: 15px;
    margin-top: 15px;
}
#event{
    color: #692340;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
#box_2 {
    /* border: 1px solid blue; */
    height: 450px;
    width:auto;
    display: flex;
}
#box_2 > #eye{
    /* border: 1px solid rgb(138, 138, 151); */
    height: 300px;
    width: 400px;
    margin-top: 30px;
    margin-left: 150px;
}
#box_2 > #register{
    /* border: 1px solid blue; */
    height: 400px;
    width: 500px;
    margin-top: 40px;
    margin-left: 120px;
}
#box_2 > #register>p{
    color: #692340;
    font-family: Means Web,Georgia,Times,Times New Roman,serif;
    font-size: 20px;
}
#box_2 > #eye> img{
    height: 300px;
    width: 400px;
}
#register > h2{
    color: #692340;
    margin-bottom: 4.5rem;
    font-size: 3.125rem;
    letter-spacing: -.03125rem;
    font-family: Means Web,Georgia,Times,Times New Roman,serif;
    font-weight: 300;
    line-height: 1;
    text-align: center!important;
}
/* #register > p:nth-child(2){

} */

#mailchimp {
    border: 1px solid red;
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#box_7{
    /* border: 1px solid red; */
    height: 540px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #692340;
    }
    #box_7 > h1{
       
       color: #fbeeca;
       font-family: Means Web,Georgia,Times,Times New Roman,serif;
       font-size: 64px;
       margin-top: -150px;
    }
    #box_7 > p:nth-child(2){
        
        color: #fbeeca;
        font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
        font-size: 20px;
        margin-top: 50px;
    }
    #box_7 > p:nth-child(4){
        text-align: center;
        margin-top: 30px;
        color: #fbeeca; 
      font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
    }
    #box_7 > button{
      color: #692340;
      background-color: #fbeeca;
      font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
      padding: 15px;
      font-size: 15px;
      border: 0px;
      margin-top: 40px;
    } 
