*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.emup{
    padding-top:200px;
    background-color: #c5dbf2;
}
#emupbox1{
    width:50%;
  margin:auto;
  text-align: center;
}
#emupbox1>h1{
font-size: 12px;
margin-bottom: 30px;
}
#emupbox1>h2{
    font-size:40px;
    margin-bottom: 25px;
}
#emupbox1>p{
    font-size:22px;
    margin-bottom: 25px;
    line-height: 35px;
}
#emupbox1>button{
    border: 0px;
    margin:auto;
    margin-bottom: 40px;
    display: block;
    font-size:15px;
    font-weight: bold;
    padding:20px 40px;
    color: white;
    background-color: #007c89;
}
#emupbox2{
    margin:auto;
    width:50%;
}
#emupbox2>img{
    width:100%;
}

/* mid start */
.emmid1{
    /* border: 1px solid blue; */
    width:100%;
}
    
.emmid1>#emmidbox1{
    /* border: 1px solid red; */
    width:80%;
    margin:auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    
}
.emmid1>#emmidbox1>#midinbox1{
    /* border: 1px solid; */
    width:45%;
    display:flex;
    align-items: center;
    
}
.emmid1>#emmidbox1>#midinbox1>img{
    width: 100%;
}
.emmid1>#emmidbox1>#midinbox2{
    width:35%;
    display:flex;
    flex-direction: column;
    gap:40px;
    justify-content: center;
}
.emmid1>#emmidbox1>#midinbox2>h2{
    font-size: 32px;
}
.emmid1>#emmidbox1>#midinbox2>p{
    font-size: 16px;
    /* border: 1px solid; */
}
.emmid1>#emmidbox1>#midinbox2>a{
    font-size: 24px;
    color:black;
    text-decoration: none;
}
/* start */
.emmid3{
    background-color: #f6f6f4;
}
.emmid3>#emmidbox1{
    padding-top:100px;
    width:40%;
    margin:auto;
    text-align: center;
}
.emmid3>#emmidbox1>h2{
    font-size:54px;
    margin-bottom:100px;
}
.emmid3>#emmidbox2{
    /* border: 1px solid; */
    background-color: transparent;
    display:flex;
    justify-content: space-around;
    width:65%;
    margin:auto;
    text-align: center;
}
.emmid3>#emmidbox2>#midinbox{
    /* border: 1px solid red; */
    width:25%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:30px;
    
}
.emmid3>#emmidbox2>#midinbox>h3{
font-size:24px;
}
.emmid3>#emmidbox2>#midinbox>p{
    font-size: 16px;
    padding-bottom:100px;
}

/* end */
/* last start */
.emls1{
    width:100%;
}
.emls1>#emlsbox1{
    /* border: 1px solid; */
    width:70%;
    margin:auto;
    margin-bottom:100px;
    display:flex;
    justify-content: space-between;
}
.emls1>#emlsbox1>#lsbox1{
width:50%;
}
.emls1>#emlsbox1>#lsbox2{
    width:40%;
    display:flex;
    flex-direction: column;
    gap:40px;
    justify-content: center;
}

.emls1>#emlsbox1>#lsbox1>img{
    width:100%;
}
.emls1>#emlsbox1>#lsbox2>h2{
    font-size: 32px;
}
.emls1>#emlsbox1>#lsbox2>p{
    font-size:16px;
}
.emls1>#emlsbox1>#lsbox2>a{
    font-size:15px;
    width:fit-content;
    text-decoration: none;
    font-weight: bold;
    color:#009270 ;
    border: 1px solid;
    padding: 20px 40px;
}
.emls1>#emlsbox2{
    width:100%;
    background-color: #ffe01b;
    padding-top:100px;
    padding-bottom: 100px;
}
.emls1>#emlsbox2>#lsbox1{
    width:50%;
    margin:auto;
    text-align: center;
}
.emls1>#emlsbox2>#lsbox1>h2{
    font-size: 74px;
    font-weight: lighter;
    margin-bottom: 50px;
}
.emls1>#emlsbox2>#lsbox1>p{
    /* border: 1px solid; */
    margin:auto;
    font-size:24px;
    width:60%;
    margin-bottom: 50px;
}
.emls1>#emlsbox2>#lsbox1>a{
    font-size:15px;
    font-weight: bold;
    background-color: #007c89;
    text-decoration: none;
    color:white;
    padding:20px 40px;
}
.emls2>#lsbox1{
    width:70%;
    margin:auto;
    margin-top:100px;
}
.emls2>#lsbox1>h2{
    font-size:32px;
    font-weight: lighter;
}
.emls2>#lsbox2{
    /* border: 1px solid red; */
    margin:auto;
    width:70%;
    display:flex;
    justify-content: space-between;
}
.emls2>#lsbox2>#lsinbox1{
    width:30%;
    margin-top:30px;
    /* border: 1px solid; */
}
.emls2>#lsbox2>#lsinbox1>img{
    width:100%;
    margin-bottom: 30px;
}
.emls2>#lsbox2>#lsinbox1>img+p{
    font-size: 14px;
    margin-bottom: 15px;
    /* border: 1px solid; */
}
.emls2>#lsbox2>#lsinbox1>a{
    /* border: 1px solid; */
    font-size:24px;
    text-decoration: none;
    color: #007c89;
}
.emls2>#lsbox2>#lsinbox1>p:last-child{
font-size: 16px;
/* border: 1px solid; */
margin-top:20px;
padding-bottom: 200px;
}
/* last end */