*{
    margin:0px;
    padding:0px;
}
.wbup{
    background-color: #fbf5fe;
    padding-top:200px;
    
}
#wbupbox1{
    width:50%;
  margin:auto;
  text-align: center;
}
#wbupbox1>h1{
font-size: 12px;
margin-bottom: 30px;
}
#wbupbox1>h2{
    font-size:40px;
    margin-bottom: 25px;
}
#wbupbox1>p{
    font-size:22px;
    margin-bottom: 25px;
    line-height: 35px;
}
#wbupbox1>button{
    border: 0px;
    margin:auto;
    display: block;
    font-size:15px;
    font-weight: bold;
    padding:20px 40px;
    color: white;
    background-color: #007c89;
}
#wbupbox2{
    margin:auto;
    margin-top:80px;
    width:50%;
}
#wbupbox2>img{
    width:100%;
}

.wbuplow{
    width:50%;
    text-align: center;
    margin:auto;
}
.wbuplow>h2{
    margin-top:100px;
    margin-bottom:25px;
font-size:40px;
}
.wbuplow>p{
    font-size: 16px;
    line-height: 20px;
}

.wbmid1{
    /* border: 1px solid blue; */
    width:100%;
}
    
.wbmid1>#wbmidbox1{
    /* border: 1px solid red; */
    width:80%;
    margin:auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    
}
.wbmid1>#wbmidbox1>#midinbox1{
    /* border: 1px solid; */
    width:45%;
    display:flex;
    align-items: center;
    
}
.wbmid1>#wbmidbox1>#midinbox1>img{
    width: 100%;
}
.wbmid1>#wbmidbox1>#midinbox1>video{
    width: 100%;
}
.wbmid1>#wbmidbox1>#midinbox2{
    width:35%;
    display:flex;
    flex-direction: column;
    gap:40px;
    justify-content: center;
}
.wbmid1>#wbmidbox1>#midinbox2>h2{
    font-size: 32px;
}
.wbmid1>#wbmidbox1>#midinbox2>p{
    font-size: 16px;
    /* border: 1px solid; */
}
.wbmid1>#wbmidbox1>#midinbox2>p:first-child{
    background-color: #efeeea; 
    width:fit-content;
    /* font-size: .875rem; */
    line-height: 1.5;
    padding: 0.0625rem 0.4375rem;
    border-radius: 12.5rem;
    font-weight: 400;
    margin-bottom: -40px;
}
.wbmid1>#wbmidbox1>#midinbox2>a{
    font-size: 24px;
    color:black;
    text-decoration: none;
}


.wbmid1>#wbmidbox2>h2{
    font-size: 54px;
    width:45%;
    margin:auto;
    text-align: center;
    margin-bottom: 100px;
}
.wbmid1>#wbmidbox3{
    /* border: 1px solid red; */
    width:80%;
    margin:auto;
    margin-bottom: 100px;
    display:flex;
    justify-content: space-around;
}
.wbmid1>#wbmidbox3>#midinbox1{
    /* border: 1px solid; */
    width:45%;
}
.wbmid1>#wbmidbox3>#midinbox1>img{
    width:100%;
}
.wbmid1>#wbmidbox3>#midinbox2{
    width:35%;
    display:flex;
    flex-direction: column;
    gap:40px;
    justify-content: center;
}
.wbmid1>#wbmidbox3>#midinbox2>h2{
     /* border: 1px solid; */
    font-size:32px;
    margin-top:-40px;
}
.wbmid1>#wbmidbox3>#midinbox2>p:first-child{
    background-color: #ff3ebf; 
    width:fit-content;
    font-size: .875rem;
    line-height: 1.5;
    padding: 0.0625rem 0.4375rem;
    border-radius: 12.5rem;
    font-weight: 400;
    
}
.wbmid1>#wbmidbox3>#midinbox2>p:last-child{
    font-size: 16px;
}
.wbmid1>#wbmidbox3>#midinbox2>a{
    border: 1px solid #b2d7db;
    width: fit-content;
    padding:20px 40px;
    font-weight: bold;
    text-decoration: none;
    color:#004E56;
}

/* wbmid2,wbmid3 start */
.wbmid2{
    background-color: #f6f6f4;
}
.wbmid2>#wbmidbox1, .wbmid3>#wbmidbox1{
    padding-top:100px;
    width:50%;
    margin:auto;
    text-align: center;
}
.wbmid2>#wbmidbox1>h2, .wbmid3>#wbmidbox1>h2{
    font-size:54px;
    margin-bottom:30px;
}
.wbmid2>#wbmidbox1>p, .wbmid3>#wbmidbox1>p{
    font-size: 16px;
    margin-bottom:100px;
}
.wbmid2>#wbmidbox2, .wbmid3>#wbmidbox2{
    /* border: 1px solid; */
    background-color: transparent;
    display:flex;
    justify-content: space-around;
    width:65%;
    margin:auto;
    text-align: center;
}
.wbmid2>#wbmidbox2>#midinbox, .wbmid3>#wbmidbox2>#midinbox{
    /* border: 1px solid red; */
    width:25%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:30px;
    
}
.wbmid2>#wbmidbox2>#midinbox>h3, .wbmid3>#wbmidbox2>#midinbox>h3{
font-size:24px;
}
.wbmid2>#wbmidbox2>#midinbox>p, .wbmid3>#wbmidbox2>#midinbox>p{
    font-size: 16px;
}
.wbmid2>#wbmidbox2>#midinbox>a, .wbmid3>#wbmidbox2>#midinbox>a{
color:#007c89;
font-weight: bold;
text-decoration: none;
padding-bottom:100px;
}

/* wbmid2,wbmid3 end */
/* wbmid4 start */
.wbmid4{
    background-color: #fbf5fe;
}
.wbmid4>#wbmidbox1{
    /* border: 1px solid; */
    width:55%;
    margin:auto;
    margin-bottom: 100px;
    text-align: center;
}
.wbmid4>#wbmidbox1>img{
    width:50%;
}
.wbmid4>#wbmidbox1>h2{
    font-size: 54px;
}
.wbmid4>#wbmidbox2{
    width:50%;
    margin:auto;
    margin-bottom:100px;
}
.wbmid4>#wbmidbox2>img{
    width:100%;
}
.wbmid4>#wbmidbox3{
    margin:auto;
    width:55%;
    text-align: center;
    padding-bottom: 100px;
}
.wbmid4>#wbmidbox3>blockquote{
    font-size:44px;
    margin-bottom: 20px;
}
.wbmid4>#wbmidbox3>b{
    font-size:14px;
}
/* last start */
.wbls1{
    width:100%;
    padding-bottom: 200px;
}
.wbls1>#wblsbox1{
    /* border: 1px solid; */
    width:70%;
    margin:auto;
    margin-bottom:100px;
    display:flex;
    justify-content: space-between;
}
.wbls1>#wblsbox1>#lsbox1{
width:50%;
}
.wbls1>#wblsbox1>#lsbox2{
    width:40%;
    display:flex;
    flex-direction: column;
    gap:40px;
    justify-content: center;
}

.wbls1>#wblsbox1>#lsbox1>img{
    width:100%;
}
.wbls1>#wblsbox1>#lsbox2>h2{
    font-size: 32px;
}
.wbls1>#wblsbox1>#lsbox2>p{
    font-size:16px;
}
.wbls1>#wblsbox1>#lsbox2>a{
    font-size:15px;
    width:fit-content;
    text-decoration: none;
    font-weight: bold;
    color:#009270 ;
    border: 1px solid;
    padding: 20px 40px;
}
.wbls1>#wblsbox2{
    width:100%;
    background-color: #ffe01b;
    padding-top:100px;
    padding-bottom: 100px;
}
.wbls1>#wblsbox2>#lsbox1{
    width:60%;
    margin:auto;
    text-align: center;
}
.wbls1>#wblsbox2>#lsbox1>h2{
    font-size: 74px;
    margin-bottom: 50px;
}
.wbls1>#wblsbox2>#lsbox1>p{
    font-size:24px;
    margin-bottom: 50px;
}
.wbls1>#wblsbox2>#lsbox1>a{
    font-size:15px;
    font-weight: bold;
    background-color: #004E56;
    text-decoration: none;
    color:white;
    padding:20px 40px;
}